
body{
	margin: 0;
	padding: 0;
}

	/* Extra Small devices (ate 575px;portaint phones)  */
	@media(max-width: 575px) and (max-width: 575.98px) {
		
		h2,p{
			
			width: 400px;
		}

		 section img{
		 	width: 400px;
		 	height: 280px;
		 	margin: 5px auto;
		 }

		 .tamanho{
		 	height: 650px;
		 }

		  #parte3 img{
		 	width: 250px;

		 }
		 
		}
		
		/* Small devices (576px, landscape phones)*/
		@media (min-width: 576px) and (max-width: 767.98px) {
			h2,p{
			width: 550px;
		}

		 section img{
		 	width: 550px;
		 }

		  #parte3 img{
		 	width: 250px;

		 }
		}

		/*  Medium devices (Tablets, 768px e superior)*/
		@media (min-width: 768px) and (max-width: 991.98px){ 
		 
		 div.botao{
		 	margin-top: 80px;
		 }

		 #parte3 img{
		 	width: 300px;

		 }
		}

		/* Large devices (desktops, 992px e superior)*/
		@media(min-width: 992px) and (max-width: 1199.98px) {
			 
		div.botao{
		 	margin-top: 80px;
		 }

		 #parte3 img{
		 	width: 350px;

		 }
		}

		/* Extra Large devices( Large desktops,1200px e superior)*/
		@media (min-width: 1200px) {
		
		 div.botao{
		 	margin-top: 80px;
		 }

		 #parte3 img{
		 	width: 300px;

		 }
		}

div h1{
	font-size: 3.3em;
	color: #fff;
	font-weight:100;
}

p{
	color: #fff;
	opacity: 0.8;
}

h2,p{
	color:black;
}

.tamanho-centro{
	height: 515px;
}
	
